html, body {
    background: var(--theme-primary) !important;
    color: var(--theme-contrast) !important;
}

.card.game-card {
    width: 16ex;
    height: 16ex;
    margin: 16px;
    display: inline-flex;
}

.game-card>.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
}
.game-card>.card-body:hover {
    background: #ccc;
}

h1 {
    display: inline-block;
}

.by {
    display: inline-block;
    margin-left: 1ex;
    font-style: italic;
    align-self: end;
}

#scan {
    font-size: 60px;
    position: fixed;
    right: 16px;
    display: block;
    bottom: 16px;
}

.settings {
    position: absolute;
    right: 16px;
    font-size: 60px !important;
}

.btn-icon {
    background: transparent !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}
