body {
    background: transparent;
}

.zoomer-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.zoomer {
    border: 2px solid black;
    width: calc(min(90vw, 90vh));
    height: calc(min(90vw, 90vh));
}
